# Copyright (c) 2023 Rivos Inc.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RISCV_BLACKPARROT
    bool "BlackParrot implementation"
    select RISCV
    help
      Enable support for BlackParrot
